$inuit-global-font-size: 14px;
$inuit-global-line-height: 22px;

$inuit-global-spacing-unit: 15px;

$inuit-global-spacing-unit-factor-huger: 6;
$inuit-global-spacing-unit-factor-mega: 8;

$inuit-global-spacing-unit-huger: round($inuit-global-spacing-unit * $inuit-global-spacing-unit-factor-huger);
$inuit-global-spacing-unit-mega: round($inuit-global-spacing-unit * $inuit-global-spacing-unit-factor-mega);
