.c-field-error {
  position: relative;
  display: inline-block;
  padding: ($global-spacing-unit-tiny / 2) $global-spacing-unit-tiny;
  background: $amtec-red;
  color: $amtec-white;
  border-radius: $global-radius;
  margin-top: 5px;
  @include text(12);
}
.c-field-error:after {
  position: absolute;
  bottom: 100%;
  left: $global-spacing-unit-small;
  width: 0;
  height: 0;
  border: solid transparent;
  content: ' ';
  pointer-events: none;
  // border-color: rgba(136, 183, 213, 0);
  border-bottom-color: $amtec-red;
  border-width: 5px;
  margin-left: -5px;
}
