.rangeslider {
  position: relative;
  margin: 20px 0;
  background: #e6e6e6;
  -ms-touch-action: none;
  touch-action: none;
}
.rangeslider,
.rangeslider .rangeslider__fill {
  display: block;
  // box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.4);
}
.rangeslider .rangeslider__handle {
  position: absolute;
  display: inline-block;
  // border: 1px solid #ccc;
  background: #fff;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4), 0 -1px 3px rgba(0, 0, 0, 0.4);
}
.rangeslider .rangeslider__handle .rangeslider__active {
  opacity: 1;
}
.rangeslider .rangeslider__handle-tooltip {
  position: absolute;
  left: 50%;
  display: inline-block;
  width: 40px;
  height: 40px;
  color: #fff;
  text-align: center;
  background-color: rgba($amtec-red, 1);
  font-weight: 400;
  font-size: 14px;
  transition: all 0.1s ease-in;
  border-radius: 4px;
  transform: translate3d(-50%, 0, 0);
}
.rangeslider .rangeslider__handle-tooltip span {
  display: inline-block;
  margin-top: 12px;
  line-height: 100%;
}
.rangeslider .rangeslider__handle-tooltip:after {
  position: absolute;
  width: 0;
  height: 0;
  content: ' ';
}
.rangeslider-horizontal {
  height: 12px;
  border-radius: 10px;
}
.rangeslider-horizontal .rangeslider__fill {
  top: 0;
  height: 100%;
  background-color: $amtec-red;
  border-radius: 10px;
}
.rangeslider-horizontal .rangeslider__handle {
  top: 50%;
  width: 30px;
  height: 30px;
  border-radius: 30px;
  transform: translate3d(-50%, -50%, 0);
  outline: none;

  &:after {
    position: absolute;
    top: 7px;
    left: 7px;
    width: 16px;
    height: 16px;
    content: ' ';
    border-radius: 50%;
    background-color: #b2b2b2;
  }

  &:hover,
  &:active {
    &:after {
      background-color: $amtec-red;
    }
  }
}

.rangeslider-horizontal .rangeslider__handle-tooltip {
  top: -55px;
}
.rangeslider-horizontal .rangeslider__handle-tooltip:after {
  bottom: -8px;
  left: 50%;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid rgba($amtec-red, 1);
  transform: translate3d(-50%, 0, 0);
}
.rangeslider-vertical {
  height: 150px;
  margin: 20px auto;
  max-width: 10px;
  background-color: transparent;
}
.rangeslider-vertical .rangeslider__fill,
.rangeslider-vertical .rangeslider__handle {
  position: absolute;
}
.rangeslider-vertical .rangeslider__fill {
  bottom: 0;
  width: 100%;
  background-color: #7cb342;
  box-shadow: none;
}
.rangeslider-vertical .rangeslider__handle {
  left: -10px;
  width: 30px;
  height: 10px;
  box-shadow: none;
}
.rangeslider-vertical .rangeslider__handle-tooltip {
  top: 50%;
  left: -100%;
  transform: translate3d(-50%, -50%, 0);
}
.rangeslider-vertical .rangeslider__handle-tooltip:after {
  top: 12px;
  left: 100%;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 8px solid rgba(0, 0, 0, 0.8);
}
.rangeslider-reverse.rangeslider-horizontal .rangeslider__fill {
  right: 0;
}
.rangeslider-reverse.rangeslider-vertical .rangeslider__fill {
  top: 0;
  bottom: inherit;
}
.rangeslider__labels {
  position: relative;
}
.rangeslider-vertical .rangeslider__labels {
  position: relative;
  left: 10px;
  width: 250px;
  height: 100%;
  margin: 0 0 0 24px;
  padding: 0;
  list-style-type: none;
  text-align: left;
}
.rangeslider-vertical .rangeslider__labels .rangeslider__label-item {
  position: absolute;
  transform: translate3d(0, -50%, 0);
}
.rangeslider-vertical .rangeslider__labels .rangeslider__label-item::before {
  position: absolute;
  z-index: -1;
  top: 50%;
  left: -14px;
  width: 10px;
  height: 2px;
  background: #000;
  content: '';
  transform: translateY(-50%);
}
.rangeslider__labels .rangeslider__label-item {
  position: absolute;
  top: 10px;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
  transform: translate3d(-50%, 0, 0);
}
