.c-field-select {
  display: block;
  width: 100%;
  padding: 4px 11px 5px;
  border: 1px solid $amtec-gray-light;
  background: $amtec-white url('../images/chevron-down.png') no-repeat;
  cursor: pointer;
  border-radius: $global-radius;
  background-size: 18px 7px;
  background-position: right 11px top 14px;
  @include text(14);

  &:focus {
    border-color: $amtec-red;
    box-shadow: 0 0 3px 1px rgba($amtec-red, 0.5);
    outline: 0;
  }

  &::-ms-expand {
    display: none;
  }
}
