.c-h1 {
  font-weight: bold;
  margin-bottom: $global-spacing-unit;
  @include text(36);
}

.c-h2 {
  font-weight: bold;
  margin-bottom: $global-spacing-unit;
  @include text(25);
}

.c-h3 {
  font-weight: bold;
  margin-bottom: $global-spacing-unit;
  @include text(20);
}
