@mixin text($size, $important: false) {
  @if ($important==true) {
    $important: !important;
  } @else if ($important==false) {
    $important: null;
  } @else {
    @error '`#{$important}` needs to be `true` or `false`.';
  }

  $sizes: map-get($global-font-sizes, $size);
  font-size: nth($sizes, 1) $important;
  line-height: nth($sizes, 2) $important;
}
