html {
  overflow: visible;
  height: 100%;
  color: $global-font-color;
  font-family: 'Noto Sans', Helvetica, Arial, sans-serif;
  font-size: $global-font-size;
  line-height: $global-line-height;
}
